.list-group-item-accent-amarillo {
    border-left: 4px solid #fffb07;
}

.list-group-item-accent-naranja {
    border-left: 4px solid #ec994b;
}

.list-group-item-accent-rojo {
    border-left: 4px solid #f73c3c;
}

