<!-- Modal agregar frase comun -->
<app-modal-create-common-phrase #modalCreateCommonPhrase></app-modal-create-common-phrase>

<div [innerHtml]="myStyle"></div>

<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div>
            <strong>Tipo de análisis: {{reportAnalysis.AnalysisType}}</strong><br/>
            {{reportAnalysis.AnalysisTypeDesc}}
          </div>
          <div>
            Análisis de similitud del documento: <strong>{{documentTitle}}</strong>
          </div>
          <div *ngIf="reportAnalysis.AnalysisTypeID == 4">
            Documento similar analizado: <strong>{{similarDocumentTitle}}</strong>
          </div>
          <div>
            Fecha de análsis: <strong>{{reportDate}}</strong>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            
            <div class="col-sm-6 col-lg-4">
              <table class="table table-responsive-sm table-hover table-outline mb-0">
                <thead class="thead-light">
                  <tr>
                    <th>Porcentaje de similitud</th>
                    <th>Cantidad </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let row of infoTableGlobal">
                    <td >{{row.range}}</td>
                    <td>{{row.quantity}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-sm-6 col-lg-2">
              <div class="card text-white bg-info">
                <div class="report-body mt-2 mx-2">
                  <div class="text-value-number">{{paragraphLenght}}</div>
                  <div class="text-value">Cantidad de frases</div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-2">
              <div class="card text-white bg-info">
                <div class="report-body mt-2 mx-2">
                  <div class="text-value-number">{{paragraphSimilarityLenght}}</div>
                  <div class="text-value">Cantidad de frases con similitud</div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-2">
              <div class="card text-white bg-primary">
                <div class="report-body mt-2 mx-2">
                  <div class="text-value-number">{{tokensQuantity}}</div>
                  <div class="text-value">Cantidad de tokens</div>
                </div>
              </div>
            </div>
            <!--<div class="col-sm-6 col-lg-2">
              <div class="card text-white bg-warning">
                <div class="report-body mt-2 mx-2">
                  <div class="text-value-number">{{umbralSimilarity}} %</div>
                  <div class="text-value">Umbral de similitud</div>
                </div>
              </div>
            </div>-->
            <div class="col-sm-6 col-lg-2">
              <div class="card text-white bg-danger">
                <div class="report-body mt-2 mx-2">
                  <div class="text-value-number">{{documentSimilarity}} %</div>
                  <div class="text-value">Porcentaje de similitud</div>
                </div>
              </div>
            </div>
          </div>
          <br/>
          <!--Tabla de reporte de similitud-->
          <div class="row">
            <div class="col-sm-12 col-lg-12">
              <table class="table table-responsive-sm table-hover table-outline mb-0">
                <thead class="thead-light">
                  <tr>
                    <th style="width: 40%;">Párrafo</th>
                    <th style="width: 40%;">Highlight</th>
                    <th>Similitud (%)</th>
                    <th>Documento asociado</th>
                    <!--<th>Alerta</th>-->
                    <th>Opciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let row of reportsES">
                    <td [innerHTML]="setStyleParragraph | functionCaller : row"></td>
                    <td [innerHTML]="setStyleHighlight | functionCaller : row"></td>
                    <td>{{row.highlight[0].phrase_similarity_percentage}}</td>
                    <td>
                      <div>{{row.document.title}}</div>
                      <div class="small text-muted">
                        <span>{{row.document.id}}</span>
                      </div>
                    </td>
                    <!--
                    <td class="small text-muted">
                      <div class="list-group list-group-accent">
                        <div class="list-group-item list-group-item-accent-secondary bg-light text-center font-weight-bold text-muted text-uppercase small">Alerta</div>
                        <div *ngFor="let word of row.highlight[0].my_uncommon_words">
                          <div *ngIf="word.alerta != 'None'">
                            <div class="list-group-item list-group-item-accent-amarillo list-group-item-divider" *ngIf="word.alerta == 'amarillo'">
                              {{word.uncommon_word}}
                            </div>
                            <div class="list-group-item list-group-item-accent-naranja list-group-item-divider" *ngIf="word.alerta == 'naranja'">
                              {{word.uncommon_word}}
                            </div>
                          </div>
                        </div>
                        <div *ngFor="let word of row.highlight[0].common_words">
                          <div class="list-group-item list-group-item-accent-rojo list-group-item-divider" >
                            {{word}}
                          </div>
                        </div>
                      </div>
                    </td>
                    -->
                    <td>
                      <button type="button" class="btn btn-info" (click)="addCommonPhrase(row)" title="Editar"><span class="icon-speech"></span></button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="reportAnalysis.AnalysisTypeID != 4">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div>
            <strong>Documentos similares </strong>
          </div>
        </div>
        <div class="card-body">
          <table class="table table-responsive-sm table-hover table-outline mb-0">
            <thead class="thead-light">
              <tr>
                <th>Título</th>
                <th>Descripción</th>
                <th>Convocatoria</th>
                <th>Opciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of similarDocs">
                <td>{{row.documentTitle}}</td>
                <td>
                  <div class="small text-muted">
                    <span>{{row.documentDescription}}</span>
                  </div>
                </td>
                <td>{{row.announcementName}}</td>
                <td>
                  <button *ngIf="row.similarDocStatus == 0" type="button" class="btn btn-success" (click)="modalAnalisis(row)" title="Analizar"><span class="icon-list"></span></button>
                  <button *ngIf="row.similarDocStatus == 1" type="button" class="btn btn-primary" (click)="showAnalysis(row)" title="Ver Análisis"><span class="icon-magnifier"></span></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>