<!-- Modal crear documento -->
<app-modal-create-document #modalCreateDocument></app-modal-create-document>

<!-- Modal Lista de reportes -->
<app-modal-similarity-analisis-list #modalAnalysisList></app-modal-similarity-analisis-list>

<div class="card">
  <div class="card-header">
    Documents
  </div>
  <div class="card-body">
    <div *ngIf="analysisHistoryItems?.length > 0">
      <alert type="info">
        <h4 class="alert-heading">¡Análisis en proceso!</h4>
        <div *ngFor="let row of analysisHistoryItems">
          <p>El documento <strong>{{row.documentName}}</strong> perteneciente a la convocatoria <strong>{{row.announcementName}}</strong> tiene un proceso de validación en curso</p>
        </div>
      </alert>
    </div>
    <div style="padding-bottom: 20px;">
      <button type="button" class="btn btn-info" (click)="addDocumnent()">Subir Documento</button>
    </div>
    <table class="table table-responsive-sm table-hover table-outline mb-0">
      <thead class="thead-light">
        <tr>
          <th class="text-center"><i class="icon-people"></i></th>
          <th>Título</th>
          <th>Descripción</th>
          <th>convocatoria</th>
          <th style="width: 15%;">Opciones</th>
          <th style="width: 15%;">Análisis</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of docsItems">
          <td class="text-center">
            <div class="avatar">
              <img src="assets/img/avatars/pdf-icon.ico" class="img-avatar">
              <span *ngIf="row.status == 0" class="avatar-status badge-warning" title="Documento subido"></span>
              <span *ngIf="row.status == 1" class="avatar-status badge-info" title="Documento analizado"></span>
              <span *ngIf="row.status == 2" class="avatar-status badge-success" title="Documento indexado"></span>
            </div>
          </td>
          <td>
            <div>{{row.title}}</div>
            <div class="small text-muted">
              <span>{{row.id}}</span>
            </div>
          </td>
          <td>{{row.description}}</td>
          <td>{{row.announcementName}}</td>
          <td>
            <a type="button" class="btn btn-success" title="Descargar" href="{{downloadFIileURL + row.fileName }}" download><span class="icon-cloud-download"></span></a>
            <button type="button" class="btn btn-info" (click)="editDocument(row)" title="Editar"><span class="icon-pencil"></span></button>
            <button type="button" class="btn btn-danger" (click)="deleteDocument(row)" title="Eliminar"><span class="icon-trash"></span></button>
          </td>
          <td>
            <button *ngIf="row.status == 0" type="button" class="btn btn-success" (click)="modalAnalisis(row)" title="Analizar"><span class="icon-list"></span></button>
            <button *ngIf="row.status != 2" type="button" class="btn btn-warning" (click)="indexDocument(row)" title="Indexar"><span class="icon-book-open"></span></button>
            <button *ngIf="row.status != 0" type="button" class="btn btn-primary" (click)="showModalListAnalysis(row)" title="Ver Análisis"><span class="icon-magnifier"></span></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
