<div bsModal #analysisListModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Listado de Reportes</h4>
        <button type="button" class="close" (click)="analysisListModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <table class="table table-responsive-sm table-hover table-outline mb-0">
              <thead class="thead-light">
                <tr>
                  <th>ID</th>
                  <th>Tipo análisis</th>
                  <th>Fecha</th>
                  <th style="width: 15%;">Ver</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of reportsItems">
                  <td>{{row.id}}</td>
                  <td>{{row.AnalysisType}}</td>
                  <td>{{row.AnalysisDate}}</td>
                  <td>
                    <button type="button" class="btn btn-primary"
                      (click)="showDocumentAnalysis(row)" title="Ver Análisis"><span
                        class="icon-magnifier"></span></button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!--/.row-->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="analysisListModal.hide()">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
