<div *ngIf="showSelectAnnouncement"> 
  <div class="card">
    <div class="card-header">
      Seleccione una convocatoria
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="announcementCodeSelect">Convocatoria</label>
            <select class="form-control" id="announcementCodeSelect" value="announcementCodeSelect" placeholder="Select" (change)="onChangeAnnouncement($event.target.value)">
              <option [value]="null" [disabled]="true" >Seleccione una opción</option>
              <option [value]="item.id" *ngFor="let item of announcementItems">{{item.name}}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="announcementID">
  <!-- Modal crear convocatoria -->
  <app-modal-create-common-phrase #modalCreateCommonPhrase></app-modal-create-common-phrase>

  <div class="card">
    <div class="card-header">
      Frases comunes
    </div>
    <div class="card-body">
      <alert type="info">
        <h4 class="alert-heading">¡Información!</h4>
        <p>Frases comunes que no se tendran en cuenta en el proceso de análsisi de similitud</p>
      </alert>
      <div style="padding-bottom: 20px;">
        <button type="button" class="btn btn-info" (click)="addCommonPhrase()">Crear Frase común</button>
      </div>
      <table class="table table-responsive-sm table-hover table-outline mb-0">
        <thead class="thead-light">
          <tr>
            <th>Id</th>
            <th>Descripción</th>
            <th style="width: 50%;">Frase</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of commonPhrasesItems">
            <td>{{row.id}}</td>
            <td>{{row.description}}</td>
            <td>
              <div class="small text-muted">
                <span>{{row.phrase}}</span>
              </div>
            </td>
            <td>
              <button type="button" class="btn btn-info" (click)="editCommonPhrase(row)" title="Editar">
                <span class="icon-pencil"></span></button>
              <button type="button" class="btn btn-danger" (click)="deleteCommonPhrase(row)" title="Eliminar">
                <span class="icon-trash"></span></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
